*{
    margin: 0;
    padding: 0;
}

.product img
{
    width: 100px;
    height: 152.4px;
}

.products .product
{
    padding: 20px;
    display: flex;
    padding: 10px 0;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}

.products .product span
{
    font-size: 15px;
    margin-left: 10px;
}

.trash-box
{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    margin-left: 380px;
    margin-top: 50px;
}

.trash-box:hover 
{
    cursor: pointer;
    scale: 1.2;
    transition: 0.3s;
}

.trash-box 
{
    background: none;
    border: none;
}

.total
{
    width: 100px;
    height: 60px;
}

.bascketTotal
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.total
{
    margin-left: 100px;
    margin-top: 30px;
}

#buyButton
{
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-size: 20px;
    transform: translateX(-50px);
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    transition: 0.3s;
}

#buyButton:hover
{
    background: rgb(87, 87, 87);
    transition: 0.3s;
}

#emptyCart 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

#emptyCart p 
{
    font-size: 50px;
}

@media (max-width: 700px)
{
    .products .product
    {
        width: 600px;
    }
    .total
    {
        transform: translateX(-20px);
    }
}

@media (max-width: 600px)
{
    .products .product
    {
        width: 500px;
    }
    .products .product span
    {
        font-size: 10px;
        margin-left: 10px;
    }
    .total
    {
        transform: translateX(-20px);
    }   
    .trash-box
    {
        margin-left: 330px;
        margin-top: 50px;
    }
}

@media (max-width: 500px)
{
    .products .product
    {
        width: 400px;
    }
    .total
    {
        transform: translateX(-40px);
    }
    .trash-box
    {
        margin-left: 280px;
        margin-top: 50px;
    }
}